#blurb
{
	max-width: 600px;
}

#content
{
	max-width: 600px;
}


#pagecontent, #pagecontent img
{
	max-width: 300px;
}

.section
{
	width: 300px;
}

body
{
	max-width: 600px;
}

.right
{
	float: left;
}