#blurb
{
	max-width: 800px;
}

#content
{
	max-width: 1200px;
}

#pagecontent, #pagecontent img
{
	max-width: 900px;
}

#pagecontent img
{

}

.section
{
	width: 400px;
}

body
{
	max-width: 1200px !important;
}
