.resume *
{
	color: #888 !important;
}

.resume h1, .resume h2, .resume h4
{
	margin: 0px;
}

.resume ul
{
	margin-top: 8px;
	margin-bottom: 8px;
}


.resume_header p
{
	margin-top: 0px !important;
}

@media only screen 
and (max-width : 899px)
{
}