#blurb
{
	max-width: 400px;
}

#content
{
	max-width: 400px;
}

#sidebar, #pagecontent
{
	float: none;
}

#pagecontent, #pagecontent img
{
	max-width: 300px;
	margin-left: 0px;
	margin: auto;
}

.section
{
	width: 400px;
}


body
{
	max-width: 400px;
}